<div class="weui-cell__hd"
  [class.weui-cell_warn]="!input.valid && !input.pristine">
  <label class="weui-label" *ngIf="title" [attr.for]="inputId">{{ title }}</label>
  <label class="weui-label" *ngIf="subTitle" [attr.for]="inputId">
    <inline-desc>{{ subTitle }}</inline-desc>
  </label>

</div>
<div class="weui-cell__bd weui-cell_primary"
  [class.weui-cell_warn]="!input.valid && !input.pristine">
  <input
    #input="ngModel"
    class="weui-input"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.aria-disabled]="ariaDisabled"
    [attr.aria-required]="ariaRequired"
    [attr.aria-invalid]="ariaInvalid"
    [attr.autocomplete]="autocomplete"
    [attr.autocorrect]="autocorrect"
    [attr.autocapitalize]="autocapitalize"
    [autofocus]="autofocus"
    [disabled]="disabled"
    [max]="max"
    [maxlength]="maxlength"
    [min]="min"
    [minlength]="minlength"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [required]="required"
    [attr.tabindex]="tabindex"
    [type]="type"
    [id]="inputId"
    [attr.name]="name"
    [(ngModel)]="value"
  />
</div>
<div class="weui-cell__ft"
  [class.weui-cell_warn]="!input.valid && !input.pristine">
  <x-icon type="clear" [hidden]="!showClear || !value || readonly" (click)="clear()"></x-icon>
  <ng-content select="[hint]"></ng-content>
  <img *ngIf="vcode" class="weui-vcode-img" [src]="vcode" alt="">
</div>
