<div class="weui-cell__bd weui-cell_primary">
  <textarea
    class="weui-textarea"
    #input="ngModel"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.aria-disabled]="ariaDisabled"
    [attr.aria-required]="ariaRequired"
    [attr.aria-invalid]="ariaInvalid"
    [attr.autocomplete]="autocomplete"
    [attr.autocorrect]="autocorrect"
    [attr.autocapitalize]="autocapitalize"
    [autofocus]="autofocus"
    [disabled]="disabled"
    [maxlength]="maxlength"
    [minlength]="minlength"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [required]="required"
    [rows]="rows"
    [cols]="cols"
    [attr.tabindex]="tabindex"
    [(ngModel)]="value"></textarea>
  <div class="weui-textarea-counter" [hidden]="!showCounter || !maxlength"><span>{{ count }}</span>/{{ maxlength }}</div>
</div>
