@import '~weui/src/style/widget/weui_tips/weui_mask.less';
@import '~weui/src/style/widget/weui_tips/weui_actionsheet.less';

.ngx-actionsheet-gap {
  height: 8px;
  width: 100%;
  background-color: #eee;
}
.ngx-actionsheet-cancel:before {
  border-top: none;
}
